@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif
}

body{
    /* min-height: 100vh; */
    background-color: #191816;
}



main{
    display: flex;
}

section.left{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

section.left > div.logo{
    flex-grow: 1;
}

section.left > div.form{
    padding: 3.5rem 7rem 3.4rem;
    background-color: #24221f;
}

section.left > div.form > div{
    margin-bottom: 1.188rem;
}

section.left > div.form > div > div > img{
    margin-right: 0.625rem;
}

.title-form > h4{
    font-size: 99%;
}

section.left > div.form > form{
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

section.left > div.form > form > input{
    margin-bottom: 1.25rem;
    width: 20.938rem;
    height: 2.75rem;
    border: 1px solid #868686;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background: none;
    padding: 0.875rem 0rem 0.875rem 2.313rem;
}

section.left > div.form > form > input.email {
    background-image: url(../img/mail.svg);
    background-repeat: no-repeat;
    background-position-x: 0.45rem;
    background-position-y: 0.59rem;
}

section.left > div.form > form > input.password {
    background-image: url(../img/lock.svg);
    background-repeat: no-repeat;
    background-position-x: 0.45rem;
    background-position-y: 0.59rem;
}

section.left > div.form > form > input#password {
    /* background-image: url(../img/eye.svg);
    background-repeat: no-repeat;
    background-position-x: 18.45rem;
    background-position-y: 0.612rem; */
}

section.left > div.form > form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #A9AFB9;
}

section.left > div.form > form > label{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #AFB6C2;
}

input.inpt-chceck{
    border: 1px solid #868686;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

section.left > div.form > form > div > a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.313rem;
    color: #FFC632;
    text-decoration: none;
}

section.left > div.form > form > button{
    padding: 0.75rem 1.5rem;
    background: #FFC632;
    border-radius: 0.25rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.688rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #473404;
    cursor: pointer;
}

div.form > form > button:hover{
    background: #f7b100;
}

section.left > div.form > form > h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.313rem;
    color: #FFC632;
}

section.left > div.form > form > h4 > a{
    text-decoration: none;
}

section.left > div.form > form > h4 > a > strong{
    color: #FFC632;
}

section.left > div.form > div > div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.left > div:nth-child(3){
    flex-grow: 1;
}


section.right{
    /* width: 100vw; */
}

section.right > img{
    /* width: 100%; */
}
